body {
    background-color: #EEEEEE;
}

input[tyoe=text] {
    padding: 10px;
    font-size: 14px;
}

.azul {
    background-color: #0000FF;
    color: #FFF;
}

.vermelho {
    background-color: #FF0000;
    color: #FFF;
}

.verde {
    background-color: #00FF00;
    color: #000;
}

#telefone {
    display: none;
}